@import 'src/styles';

.header {
  position: relative;
  padding-bottom: 40px;

  h2 {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px 20px;
    background: $primary-purple;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom-left-radius: $border_radius;
    border-bottom-right-radius: $border_radius;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.footer {
  background: $primary-gray;
}

.toolbar {
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: transparent;

  .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .filter-options {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0 10px;
  }
}

.tasks-container {
  flex: 1;
  overflow: auto;
}

table {
  width: 100%;
}

.task-context-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;

  .menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }

  .menu-item:hover {
    background-color: $light-blue;
  }

  .menu-item:active {
    background-color: $light-blue;
  }
}

.center {
  display: flex;
  align-items: center;
  gap: 6px;
}
