$header_height: 80px;
$padding_regular: 20px;
$border_radius: 5px;

$primary-gray: #e5eaf8;
$primary-purple: #7654c8;
$primary-orange: #d36a1e;
$primary-red: #c03a38;
$primary-green: #1d9696;
$primary-blue: #4a7af5;
$primary-black: #242936;

$secondary-black: #3e425d;
$secondary-gray: #dadde6;

$light-blue: #d4e7f7;
$light-purple: #c6c5e4;

$bg: #3e425d;
$bg-dark: #242936;
