<tm-page-layout>
  <div header class="header">
    <h2>{{ dialogTitle }}</h2>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="close"
      [style]="{ color: '#ee5d5b' }"
      (click)="closeDialog()"></mat-icon>
  </div>
  <div content class="content">
    <form [formGroup]="taskForm" class="form-container">
      <label for="name" [ngClass]="{ error: name.invalid }">Name:</label>
      <input type="text" id="name" formControlName="name" required autocomplete="off" aria-autocomplete="none" />

      <label [ngClass]="{ error: taskForm.controls['assignedUser'].invalid }">Assigned to:</label>
      <input type="text" placeholder="choose user" matInput formControlName="assignedUser" [matAutocomplete]="auto" />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getUserName.bind(this)">
        <mat-option *ngFor="let option of filteredUsers$ | async" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>

      <label for="state" [ngClass]="{ error: taskForm.hasError('invalidState') }">State:</label>
      <mat-chip-listbox id="state" formControlName="state" aria-label="state selection">
        <mat-chip-option selected>In Queue</mat-chip-option>
        <mat-chip-option *ngIf="isValidUserAssigned">In Progress</mat-chip-option>
        <mat-chip-option *ngIf="isValidUserAssigned">Done</mat-chip-option>
      </mat-chip-listbox>

      <label for="priority" [ngClass]="{ error: taskForm.controls['priority'].invalid }">Priority:</label>
      <mat-chip-listbox id="priority" formControlName="priority" aria-label="priority selection">
        <mat-chip-option selected>None</mat-chip-option>
        <mat-chip-option>High</mat-chip-option>
        <mat-chip-option>Medium</mat-chip-option>
        <mat-chip-option>Low</mat-chip-option>
      </mat-chip-listbox>

      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
    </form>
  </div>
  <div footer class="footer">
    <button class="btn" type="submit" [disabled]="taskForm.invalid" (click)="saveTask()">Save</button>
  </div>
</tm-page-layout>
