<header>
  <div class="title">
    <img src="task-manager-app/assets/icons/tasks-logo.png" alt="tasks" width="40" height="auto" />
    <h1>Task Manager</h1>
  </div>
  <button class="sidebar-toggle" (click)="toggleSidebar()" (clickOutside)="isSidebarClosed = true">
    <mat-icon aria-hidden="false" fontIcon="menu" [style]="{ color: '#fff' }"></mat-icon>
  </button>
</header>

<aside class="animate" [ngClass]="{ closed: isSidebarClosed }">
  <ng-container *ngIf="!isSidebarClosed">
    <a [routerLink]="['tasks']" routerLinkActive="active" class="btn">Tasks</a>
    <a [routerLink]="['users']" routerLinkActive="active" class="btn">Users</a>
  </ng-container>
</aside>

<main class="animate">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</main>
